<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form method="get" th:action="@{/product}">
    <input type="text" placeholder="input name here" name="searchName" th:value="${searchName}">
    <select name="categoryId">
        <option value="">--</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
        </option>
    </select>
    <button type="submit">search</button>
</form>
<a class="btn btn-info" href="/product/create">Create</a>
    <div th:if="${#messages}" role="alert">
        <span th:text="${#messages}"></span>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <tr th:each="product,status: ${productPage}">
            <td th:text="${status.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.date}"></td>
            <td th:text="${product.category.name}"></td>
            <td><a class="btn btn-primary" th:href="@{/product/{productId}/{categoryId}/edit(productId=${product.id},categoryId=${product.category.id})}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{/product/{productId}/delete(productId=${product.id})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/product/detail/{productId}(productId=${product.id})}">Detail</a>
            </td>
        </tr>
        <tr>
            <td th:if="${productPage.totalPages==0}" colspan="8">Danh sach trong</td>
        </tr>
    </table>
    <a th:if="${productPage.hasPrevious()}"
       th:href="@{/product(page =${productPage.number -1},searchName=${searchName},categoryId=${categoryId})}">Previous</a>
    <span th:text="${productPage.number+1}"></span>/
    <span th:text="${productPage.totalPages}"></span>
    <a th:if="${productPage.hasNext()}"
       th:href="@{/product(page =${productPage.number+1},searchName=${searchName},categoryId=${categoryId})}">Next</a>
</body>
</html>